<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<body>
<header>Registration<span></span>Users</header>

<div ng-app="myApp">
  <form>
    <h3>Registration Form</h3><br></br>
    <input type="text" ng-model="FirstName" placeholder="First Name" required><br></br>
    <input type="text" ng-model="MiddleInitial" placeholder="Middle Initial"><br></br>
    <input type="text" ng-model="LastName" placeholder="Last Name" required><br></br>
    <input type="text" ng-model="Email" placeholder="Email"><br></br>
    <input type="text" ng-model="Phone" placeholder="Phone"><br></br>
    <button ng-click="submit()">Submit</button><br></br><button ng-click="cancel()">Cancel</button>
  </form>
</div>

<script>
var app = angular.module("myApp", ["ngRoute"]);
app.config(function($routeProvider) {
  $routeProvider
  .when("/", {
    templateUrl : "Registration.htm"
  })
  .when("/users", {
    templateUrl : "Users.htm"
  });
});
</script>

</body>
</html>